h1{
    color:crimson;
    font-size: 64px;
}
h2,p{
    color: darkblue;
}
.titulo{
    color: darkgreen;
    font-size: 32px;
}
#titulo{
    color: darkred;
    font-size: 24px;
}
.negrita{
    font-weight: bold;
    color: darkorange;
    font-size: 24;

}

